<h2>País</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input [(ngModel)]="termino" type="text" name="termino" class="form-control" placeholder="Buscar país..">
        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger">
    No se encontró su busqueda
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption>Datos de busqueda</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>               
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>100000</td>
                    <td>
                        <a href="/pais/cri">Ver más</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>